<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="asset/css/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB"
        crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp"
        crossorigin="anonymous">
</head>

<body>
    <div class="box-back">



        <ul class="flex-container">
            <div class="box effect1">
                <li class="flex-item">
                    <h5 class="card-title" style="font-size: 0.5em">For an existing user</h5>
                    <div style="font-size:3em; color:#FFFCF9">
                        <i class="fas fa-sign-in-alt"></i>
                    </div>
                    <div class="btn">
                        <a href="/user/login">
                            <button type="button" class="button-landing" class="btn btn-primary btn-lg">LOG IN</button>
                        </a>
                    </div>
                </li>
            </div>



            <div class="box effect1">
                <li class="flex-item">
                    <h5 class="card-title" style="font-size: 0.5em">For a new user</h5>
                    <div style="font-size:3em; color:#FFFCF9">
                        <i class="fas fa-user-plus"></i>
                    </div>
                    <div class="btn">
                        <a href="/user/register">
                            <button type="button" class="button-landing" class="btn btn-primary btn-lg">REGISTER</button>
                        </a>
                    </div>
                </li>
            </div>
        </ul>

    </div>
</body>

</html>