<body>

    <div class="modal fade" id="create-workspace" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Create Workspace</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form method="post" action="/workspace/create">
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="inputEmail4">Name</label>
                                <input type="text" name="name" class="form-control" id="inputEmail4" placeholder="Name">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="inputEmail4">Description</label>
                                <input type="text" name="description" class="form-control" id="inputEmail4" placeholder="Description">
                            </div>

                        </div>




                        <button type="submit" class="btn btn-primary">Add</button>
                    </form>
                </div>
                <div class="modal-footer">

                </div>
            </div>
        </div>
    </div>


    <div class="wrapper">
        {{> sidebar}}
        <div class="main-panel">
            <!-- Navbar -->
            {{> navbar}}
            <!-- End Navbar -->
            <div class="content">
                <div class="container-fluid">
                    {{#each user.workspaceIds}}
                    <div class="row">
                        <div class="col-md-4">
                            <div class="card ">
                                <div class="card-header ">
                                    <h3 class="card-title">Workspace</h3>
                                    <p class="card-category"></p>
                                </div>
                                <div class="card-body ">
                                    <h4>{{this}}</h4>
                                    <button type="submit" workspace="{{this}}" class="btn btn-info btn-fill pull-right enter-workspace">Enter Workspace</button>
                                </div>
                                <div class="card-footer ">
                                </div>
                            </div>
                        </div>
                    </div>
                    {{/each}}
                    <div class="row">
                        <div class="col-md-4">
                            <div class="card ">
                                <div class="card-header ">
                                    <div class="card-title"><h4>Add your own workspace!</h4></div>
                                </div>
                                <div class="card-body ">
                                    
                                    <button type="submit" data-toggle="modal" data-target="#create-workspace" class="btn btn-info btn-fill pull-right create-workspace">Create Workspace</button>
                                </div>
                                <div class="card-footer ">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {{!-- <footer class="footer">
                <div class="container">
                    <nav>
                        <ul class="footer-menu">
                            <li>
                                <a href="#">
                                    Home
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Company
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Portfolio
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Blog
                                </a>
                            </li>
                        </ul>
                        <p class="copyright text-center">
                            ©
                            <script>
                                document.write(new Date().getFullYear())
                            </script>
                            <a href="http://www.creative-tim.com">Creative Tim</a>, made with love for a better web
                        </p>
                    </nav>
                </div>
            </footer> --}}
        </div>
    </div>

</body>
<!--   Core JS Files   -->
<script src="/asset/js/core/jquery.3.2.1.min.js" type="text/javascript"></script>
<script src="/asset/js/core/popper.min.js" type="text/javascript"></script>
<script src="/asset/js/core/bootstrap.min.js" type="text/javascript"></script>
<!--  Plugin for Switches, full documentation here: http://www.jque.re/plugins/version3/bootstrap.switch/ -->
<script src="/asset/js/plugins/bootstrap-switch.js"></script>
<!--  Google Maps Plugin    -->
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>
<!--  Chartist Plugin  -->
<script src="/asset/js/plugins/chartist.min.js"></script>
<!--  Notifications Plugin    -->
<script src="/asset/js/plugins/bootstrap-notify.js"></script>
<!-- Control Center for Light Bootstrap Dashboard: scripts for the example pages etc -->
<script src="/asset/js/light-bootstrap-dashboard.js?v=2.0.1" type="text/javascript"></script>
<!-- Light Bootstrap Dashboard DEMO methods, don't include it in your project! -->
<script src="/asset/js/demo.js"></script>
<script>
    $(".enter-workspace").on("click", this, function () {
        var id = $(this).attr("workspace");
        $.get("/workspace/translate/" + id, function (data) {
            console.log(data);
            window.location.replace("/workspace/" + data.accessUUID);
        })
    })
    $()
</script>