<body>

    <div class="modal fade" id="create-issue" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Create Issue</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form method="post" action="/workspace/{{workspace._id}}/create-issue">
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="inputEmail4">Name</label>
                                <input type="text" name="name" class="form-control" id="inputEmail4" placeholder="Name">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="inputEmail4">Description</label>
                                <input type="text" name="description" class="form-control" id="inputEmail4" placeholder="Description">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="inputEmail4">Estimated time</label>
                                <input type="text" name="estimate" class="form-control" id="inputEmail4" placeholder="Estimated time">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="inputEmail4">User</label>
                                <input type="text" name="asignee" class="form-control" id="inputEmail4" placeholder="User">
                            </div>

                        </div>




                        <button type="submit" class="btn btn-primary">Add</button>
                    </form>
                </div>
                <div class="modal-footer"></div>
            </div>
        </div>
    </div>

    <div class="wrapper">
        {{> sidebar}}
        <div class="main-panel">
            <!-- Navbar -->
            {{> navbar}}
            <!-- End Navbar -->
            <div class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="card ">
                                <div class="card-header ">
                                    <h3 class="card-title">Time saved</h3>
                                    <p class="card-category">Here you can see how everyone is doing!</p>
                                </div>
                                <div class="card-body ">
                                    <canvas id="bar-chart" width="400" height="225"></canvas>
                                    <div class="workspace-uuid" style="display:none">{{workspace.accessUUID}}</div>
                                    <script>
                                        $.get("/workspace/get-workspace-data/" + $(".workspace-uuid").html(), function (data) {
                                            console.log(data);
                                            var issues = data.workspace.issues;
                                            var timeSaved = {};
                                            for (var i = 0; i < issues.length; i++) {
                                                if (timeSaved[issues[i].asignee] == undefined)
                                                    timeSaved[issues[i].asignee] = 0;
                                                if (issues[i].completed)
                                                    timeSaved[issues[i].asignee] = parseInt(issues[i].estimate) - parseInt(issues[i].time_spent);
                                                console.log(issues[i].estimate)
                                            }
                                            var labels = [];
                                            var time = [];



                                            for (var propertyName in timeSaved) {
                                                labels.push(propertyName);
                                                time.push(timeSaved[propertyName]);
                                            }

                                            console.log(labels);
                                            console.log(time);

                                            new Chart(document.getElementById("bar-chart"), {
                                                type: 'bar',
                                                data: {
                                                    labels: labels,
                                                    datasets: [
                                                        {
                                                            label: "Time saved",
                                                            backgroundColor: ["#06d6A0", "#06d6A0", "#06d6A0", "#06d6A0", "#06d6A0", "#06d6A0", "#06d6A0"],
                                                            data: time
                                                        }
                                                    ]
                                                },
                                                options: {
                                                    legend: { display: false },
                                                    title: {
                                                        display: true,
                                                        text: 'Saved time'
                                                    },
                                                    scales: {
                                                        yAxes: [{
                                                            display: true,
                                                            ticks: {
                                                                beginAtZero: true,
                                                                max: 1000,
                                                                min: 0
                                                            }
                                                        }]
                                                    }
                                                }
                                            });
                                        })



                                    </script>
                                </div>
                                <div class="card-footer ">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="card ">
                                <div class="card-header ">
                                    <h3 class="card-title">Invite link</h3>
                                    <p class="card-category">Send this to anyone for them to join the workspace!</p>
                                </div>
                                <div class="card-body ">
                                    <br>
                                    <p>
                                        <a href="/workspace/join/{{workspace.UUID}}">
                                            http://localhost:3000/workspace/join/{{workspace.UUID}}
                                        </a>
                                    </p>
                                </div>
                                <div class="card-footer ">
                                </div>
                            </div>
                        </div>
                    </div>
                    {{#each workspace.issues}}
                    <div class="row">
                        <div class="col-md-4">
                            <div class="card ">
                                <div class="card-header ">
                                    <h3 class="card-title">{{this.name}}</h3>
                                    <p class="card-category"></p>
                                </div>
                                <div class="card-body ">
                                    <br>
                                    <p>
                                        <strong>Description:</strong>
                                    </p>
                                    <p>{{this.description}}</p>
                                    <p>
                                        <strong>Asignee:</strong>
                                    </p>
                                    <p>{{this.asignee}}</p>
                                </div>
                                <div class="card-footer ">
                                    {{#if this.completed}}
                                    <hr> Estimate:{{this.estimate}}
                                    <br> Completed in:{{this.time_spent}} {{else}}
                                    <hr> Estimate: {{this.estimate}}
                                    <input type="text" name="name" class="form-control">
                                    <button type="button" issue="{{this.accessUUID}}" class="btn btn-info btn-fill pull-right complete-issue">Complete Issue</button>
                                    {{/if}}

                                </div>
                            </div>
                        </div>
                    </div>
                    {{/each}}
                    <div class="row">
                        <div class="col-md-4">
                            <div class="card ">
                                <div class="card-header ">
                                    <div class="card-title">
                                        <h4>Add your own issues here!</h4>
                                    </div>
                                </div>
                                <div class="card-body ">

                                    <button type="submit" data-toggle="modal" data-target="#create-issue" class="btn btn-info btn-fill pull-right create-issue">Create Issue</button>
                                </div>
                                <div class="card-footer ">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {{!-- <footer class="footer">
                <div class="container">
                    <nav>
                        <ul class="footer-menu">
                            <li>
                                <a href="#">
                                    Home
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Company
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Portfolio
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Blog
                                </a>
                            </li>
                        </ul>
                        <p class="copyright text-center">
                            ©
                            <script>
                                document.write(new Date().getFullYear())
                            </script>
                            <a href="http://www.creative-tim.com">Creative Tim</a>, made with love for a better web
                        </p>
                    </nav>
                </div>
            </footer> --}}
        </div>
    </div>

</body>
<!--   Core JS Files   -->
<script src="/asset/js/core/jquery.3.2.1.min.js" type="text/javascript"></script>
<script src="/asset/js/core/popper.min.js" type="text/javascript"></script>
<script src="/asset/js/core/bootstrap.min.js" type="text/javascript"></script>
<!--  Plugin for Switches, full documentation here: http://www.jque.re/plugins/version3/bootstrap.switch/ -->
<script src="/asset/js/plugins/bootstrap-switch.js"></script>
<!--  Google Maps Plugin    -->
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>
<!--  Chartist Plugin  -->
<script src="/asset/js/plugins/chartist.min.js"></script>
<!--  Notifications Plugin    -->
<script src="/asset/js/plugins/bootstrap-notify.js"></script>
<!-- Control Center for Light Bootstrap Dashboard: scripts for the example pages etc -->
<script src="/asset/js/light-bootstrap-dashboard.js?v=2.0.1" type="text/javascript"></script>
<!-- Light Bootstrap Dashboard DEMO methods, don't include it in your project! -->
<script src="/asset/js/demo.js"></script>
<div id="parentWorkspace">{{workspace._id}}</div>
<script>
    $(".complete-issue").on("click", this, function () {
        $.post("/workspace/complete-issue/" + $(this).attr("issue"),
            {
                parentWorkspace: $("#parentWorkspace").html(),
                time_spent: $(this).prev().val()
            }, function (data) {
                window.location.reload(false);
            })
    });
</script>