@import url("https://fonts.googleapis.com/css?family=Oswald|Pacifico");
body {
}
.box-back {
  height: 100vh;
  width: 100%;
  margin-top: 0px;
  background: linear-gradient(#06d6a0 0%, rgba(0, 167, 225, 0.5)),
    url("http://localhost:3000/asset/img/backlanding.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  max-width: 100%;
  max-height: 100%;
  margin: auto;
  overflow: auto;
}

@import "compass/css3";

.flex-container {
  padding: 0;
  margin: 0;
  list-style: none;

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  -webkit-flex-flow: row wrap;
  justify-content: space-around;
}

.flex-item {
  background: #5db7de;
  align-self: center;
  padding: 5px;
  width: 60vh;
  height: 45vh;
  margin-top: 10px;
  border-radius: 5px;
  line-height: 150px;
  color: white;
  font-weight: bold;
  font-size: 3em;
  text-align: center;
  box-shadow: [horizontal offset] [vertical offset] [blur radius] [optional
    spread radius] [color];
}
.effect1 {
  -webkit-box-shadow: 0 10px 10px -10px #777;
  -moz-box-shadow: 0 10px 10px -10px #777;
  box-shadow: 0 10px 10px -10px #777;
}

.button-landing {
  position: relative;
  background-color: #06d6a0;
  border: none;
  font-size: 1em;
  color: #ffffff;
  padding: 10px;
  font-family: "IBM Plex Sans Condensed", sans-serif;
  text-align: center;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
  height: 10vh;
  width: 40vh;
}

.button-landing:after {
  content: "";
  background: #5db7de;
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px !important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s;
}

.button-landing:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s;
}
#form-main {
  width: 100%;
  float: left;
  padding-top: 0px;
}

#form-div {
  background-color: rgba(72, 72, 72, 0.4);
  padding-left: 35px;
  padding-right: 35px;
  padding-top: 35px;
  padding-bottom: 50px;
  width: 450px;
  float: left;
  left: 50%;
  position: absolute;
  margin-top: 30px;
  margin-left: -260px;
  border-radius: 7px;
}

.montform .feedback-input {
  color: #3c3c3c;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 18px;
  border-radius: 0;
  line-height: 22px;
  background-color: #fffcf9;
  padding: 13px 13px 13px 54px;
  margin-bottom: 10px;
  width: 100%;
  box-sizing: border-box;
  border: 3px solid rgba(0, 0, 0, 0);
}
/*Inputs styles*/
.montform .feedback-input:focus {
  background: #fff;
  border: 3px solid #3498db;
  color: #3498db;
  outline: none;
  padding: 13px 13px 13px 54px;
}

/* Icons ---------------------------------- */
.montform #name {
  background-image: url(https://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/svgs/fi-address-book.svg);
  background-size: 30px 30px;
  background-position: 11px 8px;
  background-repeat: no-repeat;
}

.montform #name:focus {
  background-image: url(https://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/svgs/fi-address-book.svg);
  background-size: 30px 30px;
  background-position: 8px 5px;
  background-position: 11px 8px;
  background-repeat: no-repeat;
}

.montform #email {
  background-image: url("http://localhost:3000/asset/img/passpng.png");
  background-size: 30px 30px;
  background-position: 11px 8px;
  background-repeat: no-repeat;
}

.montform #email:focus {
  background-image: url("http://localhost:3000/asset/img/passpng.png");
  background-size: 30px 30px;
  background-position: 11px 8px;
  background-repeat: no-repeat;
}

.montform #comment {
  background-image: url(https://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/svgs/fi-pencil.svg);
  background-size: 30px 30px;
  background-position: 11px 8px;
  background-repeat: no-repeat;
}

.montform textarea {
  width: 100%;
  height: 150px;
  line-height: 150%;
  resize: vertical;
}

.montform input:hover,
.montform textarea:hover,
.montform input:focus,
.montform textarea:focus {
  background-color: #e6e6e6;
}

.button-blue {
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  float: left;
  width: 100%;
  border: #fbfbfb solid 4px;
  cursor: pointer;
  background-color: #3498db;
  color: white;
  font-size: 24px;
  padding-top: 22px;
  padding-bottom: 22px;
  transition: all 0.3s;
  margin-top: -4px;
  font-weight: 700;
}

.button-blue:hover {
  background-color: rgba(0, 0, 0, 0);
  color: #fff;
}

.montform .submit:hover {
  color: #3498db;
}

.ease {
  width: 0px;
  height: 74px;
  background-color: #fbfbfb;
  transition: 0.3s ease;
}

.submit:hover .ease {
  width: 100%;
  background-color: #06d6a0;
}

/*Styles for small screens*/

@media only screen and (max-width: 580px) {
  #form-div {
    left: 3%;
    margin-right: 3%;
    width: 88%;
    margin-left: 0;
    padding-left: 3%;
    padding-right: 3%;
  }
}
